mat-drawer-container {
  height: 100%;
}

.sidenav-content {
  .menu-content {
    display: flex;
    flex-direction: column;

    span {
      text-align: center;
      padding: 10px 20px;
    }

    button {
      padding: 10px 20px;
      border: 0;
      background: transparent;

      &:hover {
        background: lightgray;
      }
    }
  }
}
